.text1{
   color: rgb(38, 0, 255);
}

.cart-img{
   width: 100%;
   height: 500px;
}


.swiper {
   width: 100%;
   height: 70%;
 }
 
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 /* .swiper-slide-img{
  height: 100%;
  width: 100%;
 } */


 #add-button {
   position: absolute;
   top: 600px; /* Adjust the top value to set the vertical position */
   right: 100px; /* Adjust the right value to set the horizontal position */
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   font-size: 20px;
   cursor: pointer;
 }

 .ce-t{
   color: rgb(219, 238, 238);
 }
 